<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: lightblue;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
</style>
</head>
<body>

<h1><em>Kyrgyzstan</em> is a rugged Central Asian country along the <em>Silk Road</em>, <br><br>
the ancient trade route between <em>China</em> and the Mediterranean. The Tian Shan <br><br>
mountains, which surround the old caravan route and dominate the country, are <br><br>
home to snow leopards, lynx and sheep. In the south, the millennia-old city of Osh <br><br>
has a huge, busy bazaar that was once a stop on the <em>Silk Road</h1>
<p>This is a paragraph.</p>

</body>
</html>
